body {
	font-family: 'ProximaNova-Regular', sans-serif;
	font-weight: normal;
	color: black;
	font-size: 16px;
	line-height: 19px;
}
.app {
	height: 100vh;
}

.wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: 211px auto;
	grid-auto-rows: auto 101px;
}

.content {
	background: #f7fafb;
	display: flex;
	flex-direction: column;
}