@import 'helpers/reset';
@import 'helpers/media';
@import 'helpers/global';
@import 'helpers/fonts';

.sidebar {
	background: #062436;
	&__inner {
		padding-top: 22px;
		position: fixed;
	}
	&__logo-img {
		margin-bottom: 68px;
		margin-left: 20px;
	}
	&__list-item {
		margin-bottom: 32px;
		padding: 13px 12px 10px 20px;
		position: relative;
		&--active {
			background: #15526a;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				background: #3dbdf6;
				height: 100%;
				width: 6px;
			}
		}
	}
	&__list-link {
		display: flex;
		align-items: center;
		color: white;
		text-transform: uppercase;
		font-size: 14px;
	}
	&__list-icon {
		padding-right: 17px;
	}
}

.user-info {
	&__nav {
		display: flex;
		justify-content: end;
	}
	&__nav li {
		padding: 24px 0 22px 0;
		margin-right: 30px;
	}
	.notification {
		margin-right: 0;
		&__count {
			font-size: 10px;
			background: #d0021b;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			color: white;
			position: relative;
			top: -3px;
			right: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__nav li a {
		color: #7a8185;
		display: flex;
		align-items: center;
	}
}
.articles {
	background: white;
	margin: 0 20px;
	box-shadow: 1px 1px 4px 0px #e5e5e5;
	flex-grow: 1;
	&__header {
		margin: 16px 20px 0 16px;
		padding-top: 16px;
		text-transform: uppercase;
		border-bottom: 2px solid #f0f5f7;
		&-subtitle {
			font-size: 12px;
			font-weight: normal;
			margin-bottom: 10px;
		}
		&-title {
			font-size: 20px;
			margin-bottom: 16px;
		}
	}
}
.article {
	&__item {
		padding: 0 20px;
		&--active {
			background: #f3fcff;
		}
	}
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-weight: 400;
		padding: 20px 0;
		border-bottom: 2px solid #f0f5f7;
        cursor: pointer;
	}
	&__btn {
		border: none;
		background: none;
		cursor: pointer;
	}
	&__content {
        display: none;
		max-width: 760px;
		padding-bottom: 24px;
	}
}

// .article__content{
//     max-width: 900px;
//     padding: 50px;
//     display: flex;
//     flex-direction: column;
// }

// .article__content img{
//    object-fit: contain;
//    max-width: 100%;
// }

// .article__content code{
//     background-color: aliceblue;
// }
.footer {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 15px;
	padding: 20px 20px 36px 20px;
	background: #f7fafb;
	a {
		color: #3dbdf6;
	}
}
